*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: #4625;
    display: flex;
    justify-content:space-between;
    height: 150px;
}

nav .logo{
    margin-left: 50px;
    margin-top: 10px;
}

nav .logo img{
    height: 70px;
    width: 80px;
    border-radius: 5px;
}

nav .logo p{
    color: #fff;
    font-weight: bold;
}

nav .links{
    margin-right: 80px;
    margin-top: 10px;
}

nav .links ul li{
    display: inline-block;
    padding: 40px;
}

nav .links ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav .links ul li a:hover{
    background-color: #4625;
}

.links .logIn{
    background-color: #4625;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.logIn:hover{
    background-color: #fff;
    color: #4625;
}

.hero{
    background-color: #4625;
}

.hero-text{
    text-align: center;
    background-color: #fff;
}

.hero-text h1{
    font-weight: bold;
    margin-top: 20px;
}

.hero-text img{
    height: 500px;
    width: 500px;
    border-radius: 10%;
    margin-top: 10px;
}

.hero-text p{
    margin-top: 10px;
}

.hero-text .getStarted{
    background-color: #4625;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hero-text .getStarted:hover{
    background-color: #fff;
    color: black;
}

.searchSection form input{
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.searchSection form input:focus{
    outline: none;
}

.searchSection form button{
    background-color: #4625;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.opton{
    color: #fff;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-box{
    width: 95%;
    border-radius: 5px;
    padding-bottom: 20px;
}

.form-group{
    margin-top: 20px;
}

.form-group .company-name{
    font-weight: bold;
    color: #fff;
}

.footer{
    background-color: black;
    padding: 20px;
    color: #fff;
    padding-bottom: 20px;
}

.emailUpdate{
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.emailUpdate form button{
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    padding-left: 5px;
}

.emailUpdate form .getUpdate{
    font-weight: bold;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}
.emailUpdate form button:hover{
    background-color: #fff;
    color: blue;
}

.border{
    border: 1px solid #fff;
    width: 100%;
}

.term ul{
    display: flex;
    list-style: none;
    margin-left: 38px;
    margin-top: 50px;
}

.term ul li{
    padding-left: 20px;
}

.term ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.term ul li a:hover{
    background-color: blue;
}

.term ul button{
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    margin-left: 20px;
}

.icons{
    margin-left: 1000px;
    margin-top: -20px;
}

.icons a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding-left: 60px;
}

.icons a .fa-facebook:hover{
    background-color: blue;
}

.icons a .fa-twitter:hover{
    background-color: blue;
}

.icons a .fa-instagram:hover{
    background-color: blue;
}

.icons a .fa-linkedin:hover{
    background-color: blue;
}

.icons a .fa-github:hover{
    background-color: blue;
}
.copy{
    margin-left: 55px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.copy .lit{
    margin-right: 80px;
}

.company-options label{
    font-weight: bold;
    color: #fff;
}

.searchSection form label{
    font-weight: bold;
    color: #fff;
}